<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPageNoMenu.master.cs" Inherits="WKS.DMS.WEB.MasterPageNoMenu" %>

<%@ Register TagPrefix="telerik" Namespace="Telerik.Web.UI" Assembly="Telerik.Web.UI" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link href="styles/base.css" rel="stylesheet" />
    <link href="styles/style.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body style="background-color:#d60000">
    <form id="form1" runat="server">
        <telerik:RadScriptManager runat="server"></telerik:RadScriptManager>
        <div id="wrapper">
            <a href="#" class="logo">
                <img src="images/logo.png" alt="site logo" width="150px" />
            </a>
           
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
            </asp:ContentPlaceHolder>
            <hr style="margin-top: 40px" />
            <div class="footer" style="color:#fff">
               © 2016-2017 Group 7.</div>
        </div>
    </form>
</body>
</html>
